.name{
  color: pink;
  font-family: cursive;
}
.mantra{
  color: #33ccff;
}

img{
  height: 300px;
  width: 425px;
}

.contact{
  list-style: none;
}

.menu{
  float: left;
  font-style: italic;
  color: red;
  /*background-color: blue;*/

}

.menu-left{
  padding-left: 0px;
}

.contact-info{
float: right;
text-align: right;
}

.hours{
text-align: center;
}

li{
  list-style: none;
}

.quadrant{
  color: red;
  font-size: 1.2em;
}
